$bright-pink-color: rgb(219, 33, 148);
$dark-red-color: rgb(139,0,0);
$green-yellow-color: rgb(173,255,47);
$light-yellow-color: rgb(255,255,102);
$pink-color: rgb(219,112,147);
$purple-color: rgb(275,0,130);
$slate-blue-color: rgb(106,90,205);

body {
  margin: 0;
  font-family: -apple-system, 'Times New Roman', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

section {
  color: #fff;
  height: calc(100vh);
  padding: 5em 0 0 0;
}

h2 {
  color: $bright-pink-color;
  font-family: cursive;
  font-size: 4em;
  padding-bottom: 0.5em;
}

h3 {
  color: rgb(189, 20, 204);
  padding-bottom: 1em;
  padding-top: 1em;
}

textarea {
  width: 100%;
}

a {
    text-decoration: none;
}

/*
 * Classes
 */

.btn {
  background-color: $bright-pink-color;
  color: #fff;
  width: auto;
}

.content {
  width: 90%;
}

.intro {
  height: calc(75vh);
  width: 95%;
}

.introName {
  color: $bright-pink-color;
  font-family: cursive;
  font-size: 2em;
}

.profilePic {
  width: 300px;
}

.projectCard {
  background-color: $light-yellow-color;
  border-radius: 20px;
  height: 100%;
  padding: 10px;
}

.projectTitle {
  color: $slate-blue-color;
  font-size: 2em;
  font-weight: bold;
}

.projectLink {
  color: $pink-color;
  margin: 10px;
  padding: 10px;
}

.projectLink a {
  color: $dark-red-color;
  text-decoration: none;
}

.technologies {
  color: $purple-color;
  margin: 10px;
  padding: 10px;
}

.technologies a {
  color: $dark-red-color;
  text-decoration: none;
}

a.projectLink:hover,
.projectLink a:hover,
.technologies a:hover {
  color: $slate-blue-color;
  text-decoration: none;
}

#footer {
  position: fixed;
  background-color: #000;
  color: green;
  bottom: 0;
  height: 6em;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
}

#footer .author {
  color: $bright-pink-color;
  font-family: cursive;
  font-size: 2em;
}

@media screen and (max-width: 768px) {
    #portfolio {
      height: auto;
      padding: 5em 0 0 0;
    }
}