$purple-color: rgb(219, 33, 148);

body {
  margin: 0;
  font-family: -apple-system, 'Times New Roman', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

section {
  color: #fff;
  height: calc(100vh);
  padding: 5em 0 0 0;
}

h2 {
  color: $purple-color;
  font-family: cursive;
  padding-bottom: 0.5em;
}

h3 {
  color: rgb(189, 20, 204);
  padding-bottom: 1em;
  padding-top: 1em;
}

textarea {
  width: 100%;
}

a {
    text-decoration: none;
}

/*
 * Classes
 */

.btn {
  background-color: $purple-color;
  color: #fff;
  width: auto;
}

.content {
  width: 90%;
}

.intro {
  height: 100%;
  width: 95%;
}

.introName {
  color: $purple-color;
  font-family: cursive;
  font-size: 2em;
}

.profilePic {
  width: 300px;
}


@media screen and (max-width: 768px) {
    #portfolio {
      height: auto;
      padding: 5em 0 0 0;
    }
}