body {
  margin: 0;
  font-family: -apple-system, 'Times New Roman', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  color: #fff;
  height: calc(100vh);
  padding: 5em 0 0 0;
}

.content {
  width: 80%;
}

h2 {
  color: rgb(219, 33, 148);
  font-family: cursive;
  padding-bottom: 1em;
}

h3 {
  color: rgb(189, 20, 204);
  padding-bottom: 1em;
  padding-top: 1em;
}

textarea {
  width: 100%;
}

.intro {
  height: 100%;
  width: 95%;
}

.introName {
  color: rgb(219, 33, 148);
  font-family: cursive;
  font-size: 2em;
}

.btn {
  background-color: rgb(219, 33, 148);
  color: #fff;
  width: auto;
}

.profilePic {
  width: 300px;
}

.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-mask-image: url(#mask);
  mask-image: url(#mask);
}
